**/build/
**/build-*-Release
**/build-*-Debug
**/Build_MSIX_APPXSetupFiles
/Output
/output
/staging
**/intermediate

**/.DS_Store

**/.idea
**/.nuget/
**/.vs/
**/bin/
**/obj/
**/packages
**.suo
**.userprefs
**/*DotSettings.user
**/*.csproj.user
**/*.binlog

**/x64
**/dist
**/xcuserdata/

**/mono_crash**

**/*.db
**/*.pfx
**/*.nupkg
